.mymenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
body{
  margin: 0;
}
.mymenu li {
    float: left;
}

.mymenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mymenu li a:hover:not(.active) {
    background-color: #111;
}
